.header {
  display: flex;
  padding: 0 60px;
}

.header-logo {
  padding: 20px 0;
}

.header-nav {
  flex: 1;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
  color: #757575;
  display: block;
  height: 63px;
  line-height: 63px;
  padding: 0 10px;
  position: relative;
  transition: color 0.5s ease;
}

.header-nav a:hover,
.header-nav a.active{
  color: #414141;
}

.header-nav a:hover::after,
.header-nav a.active::after{
  background-color: #f5a623;
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}